.table {
    border-collapse: collapse;
    width: 50%;
    height: 100%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.td-even {
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    color: transparent;
}
.td-odd {
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    color: transparent;
}

#buttons {
    text-align: center;
    margin: 10px;
}